@model TaskManager.Models.TaskMain

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TaskMain</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskDescrp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskDescrp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Projects)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Projects.ProjectName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modules)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modules.ModuleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntendedStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntendedStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationHrs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationHrs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualDateStarted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualDateStarted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualDateEnded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualDateEnded)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
